<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-9IL2B76\SQLEXPRESS;Initial Catalog=Music Library Management;Integrated Security=True"/>
    <!--add name="constr" connectionString="Data Source=DESKTOP-9IL2B76\SQLEXPRESS;Initial Catalog=TestPracticeBanks;Integrated Security=True"/>-->
  </connectionStrings>
  <appSettings>
    <!--add key="SelectParents" value="SELECT * FROM ATMs"/>
    <add key="SelectChildren" value="SELECT * FROM Transactions"/>
    <add key="ParentTable" value="ATMs"/>
    <add key="ChildTable" value="Transactions"/>
    <add key="FKName" value="FK_ATMs_Transactions"/>
    <add key="FKColumn" value="atm_id"/>-->

    <add key="SelectParents" value="SELECT * FROM Bands"/>
    <add key="SelectChildren" value="SELECT * FROM Albums"/>
    <add key="ParentTable" value="Bands"/>
    <add key="ChildTable" value="Albums"/>
    <add key="FKName" value="FK__Bands__Albums"/>
    <add key="FKColumn" value="band_id"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>